@import url('https://fonts.googleapis.com/css?family=Inter:400');

:root {
    --color-dark: #333;
    --color-light: #f3f3f3;
    --color-primary: #1a8fe3;
}
  
/* new: Render your text with anti-aliasing by using these CSS properties */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
body {
    background: var(--color-light);
    color: var(--color-dark);
    padding: 2em;
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
}

